{% extends 'base.html.twig' %}

{% block title %}Serie{% endblock %}

{% block body %}
    <h1>Serie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ serie.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ serie.titre }}</td>
            </tr>
            <tr>
                <th>Nbtomes</th>
                <td>{{ serie.nbtomes }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ serie.info }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('serie_index') }}">Retour à la liste</a>

    <a href="{{ path('serie_edit', {'id': serie.id}) }}">Modifier</a>

    {{ include('serie/_delete_form.html.twig') }}
{% endblock %}
