{% extends 'base.html.twig' %}

{% block title %}Oeuvre index{% endblock %}

{% block body %}
    <h1>Oeuvre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Photo</th>
                <th>Annee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oeuvre in oeuvres %}
            <tr>
                <td>{{ oeuvre.id }}</td>
                <td>{{ oeuvre.titre }}</td>
                <td>{{ oeuvre.photo }}</td>
                <td>{{ oeuvre.annee }}</td>
                <td>
                    <a href="{{ path('oeuvre_show', {'id': oeuvre.id}) }}">Voir</a>
                    <a href="{{ path('oeuvre_edit', {'id': oeuvre.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">pas d’entrées trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('oeuvre_new') }}">Nouveau</a>
{% endblock %}
