{% extends 'base.html.twig' %}

{% block title %}Oeuvre index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
     <script>
        $(document).ready(function() {
            $('#myTable').DataTable({
                "paging": true, // Enable pagination
                "pageLength": 10 // Set the number of entries per page
            });
        });
    </script>
{% endblock %}

{% block body %}
    <h1>Oeuvre index</h1>
    
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Photo</th>
                <th>Annee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oeuvre in oeuvres %}
            <tr>
                <td>{{ oeuvre.id }}</td>
                <td>{{ oeuvre.titre }}</td>
                <td>{{ oeuvre.photo }}</td>
                <td>{{ oeuvre.annee }}</td>
                <td>
                    <a href="{{ path('oeuvre_show', {'id': oeuvre.id}) }}"  class="btn btn-primary">Voir</a>
                    <a href="{{ path('oeuvre_edit', {'id': oeuvre.id}) }}"  class="btn btn-warning">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">pas d’entrées trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
