{% extends 'base.html.twig' %}

{% block title %}Auteur index{% endblock %}

{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    



    <h1>Auteur index</h1>


    <table class="table" id="table_auteurs">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nomoupseudo</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.id }}</td>
                <td>{{ auteur.nomoupseudo }}</td>
                <td>{{ auteur.prenom }}</td>
                <td>
                    <a href="{{ path('auteur_show', {'id': auteur.id}) }}">show</a>
                    <a href="{{ path('auteur_edit', {'id': auteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('auteur_new') }}">Create new</a>


<script type="text/javascript">
     $(document).ready( function () {
    $('#table_auteurs').DataTable();
});

</script>
   
</body>
</html>

{% endblock %}


