{% extends 'base.html.twig' %}

{% block title %}Édition{% endblock %}

{% block body %}
    <h1>Édition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ edition.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ edition.nom }}</td>
            </tr>
            <tr>
                <th>Siteweb</th>
                <td>{{ edition.siteweb }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ edition.info }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('edition_index') }}">retour à la liste</a>

    <a href="{{ path('edition_edit', {'id': edition.id}) }}">éditer</a>

    {{ include('edition/_delete_form.html.twig') }}
{% endblock %}