{% extends 'base.html.twig' %}

{% block title %}TypeOeuvre index{% endblock %}

{% block body %}
    <h1>TypeOeuvre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_oeuvre in type_oeuvres %}
            <tr>
                <td>{{ type_oeuvre.id }}</td>
                <td>{{ type_oeuvre.type }}</td>
                <td>
                    <a href="{{ path('type_oeuvre_show', {'id': type_oeuvre.id}) }}">show</a>
                    <a href="{{ path('type_oeuvre_edit', {'id': type_oeuvre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_oeuvre_new') }}">Create new</a>
{% endblock %}
