{% extends 'base.html.twig' %}

{% block title %}TypeOeuvre{% endblock %}

{% block body %}
    <h1>TypeOeuvre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_oeuvre.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ type_oeuvre.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_oeuvre_index') }}">retour à la liste</a>
    <a href="{{ path('type_oeuvre_edit', {'id': type_oeuvre.id}) }}">Éditer</a>
    {{ include('type_oeuvre/_delete_form.html.twig') }}
{% endblock %}