{% extends 'base.html.twig' %}

{% block title %}TypeAuteur index{% endblock %}

{% block body %}
    <h1>TypeAuteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_auteur in type_auteurs %}
            <tr>
                <td>{{ type_auteur.id }}</td>
                <td>{{ type_auteur.type }}</td>
                <td>
                    <a href="{{ path('type_auteur_show', {'id': type_auteur.id}) }}">show</a>
                    <a href="{{ path('type_auteur_edit', {'id': type_auteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_auteur_new') }}">Create new</a>
{% endblock %}
